.character-info-container {
  color: #000000;
  background-color: #f5deb3;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.character-sheet-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #8b4513;
}

.character-select {
  color: black;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #8b4513;
  border-radius: 4px;
  background-color: #f5deb3;
  font-size: 16px;
  outline: none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.character-sheet {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.character-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #8b4513;
}

.character-player-name {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.character-race,
.character-upbringing,
.character-disposition {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px #8b4513;
}

.character-attributes-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px #8b4513;
}

.character-attributes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-sizing: border-box;
}

.character-attribute {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.character-hitpoints {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}
.character-armor-rating {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}

.character-roll-bonus {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}

.character-movement {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}
.character-skills {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}
.character-abilities {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}

.character-spells {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}

.character-techniques {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}

.character-inventory {
  font-weight: bold;
  font-size: 1.2em;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-bottom: 10px;
}

.character-ability,
.character-spell,
.character-technique,
.character-item {
  font-size: 1.2em;
  margin-right: 10px;
  margin-bottom: 10px;
}

.character-ability {
  color: #339966;
}

.character-spell {
  color: #9966ff;
}

.character-technique {
  color: #ff9900;
}

.character-item {
  color: #666666;
}

.delete-button {
  display: inline-block;
  font-size: 0.8em;
  margin-left: 10px;
  padding: 0.3em 0.3em;
}
